bqplot==0.12.33
ipycanvas==0.11.0
ipyleaflet==0.15.0
ipympl==0.8.8
ipywidgets==7.7.0
jupyterlab==3.3.3
jupyterlab-filesystem-access==0.2.0
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN
jupyterlab-fasta==3.2.0
jupyterlab-geojson==3.2.0
jupyterlab-tour==3.1.4
jupyterlite==0.1.0b4
jupyterlite-p5-kernel==0.1.0a12
jupyterlite-xeus-lua==0.3.0
jupyterlite-xeus-wren==0.2.0
jupyterlite-xeus-sqlite==0.2.0
plotly==5.7.0
stickyland==0.2.1
theme-darcula==3.1.1
